#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Custom Package Framework
Comment=Custom package-framework for new users
Exec=cpf
Icon=cpf_icon
Terminal=false
Type=Application
Categories=Utility;System;

Name[en_US]=Custom Package Framework
Name[de_DE]=Custom Package Framework
